Environment:
window 10
Python 3.5.2
scikit-learn 0.21.2
pandas   0.24.2
pip     19.1.1
numpy   1.16.4

Install stability selection by:
https://github.com/scikit-learn-contrib/stability-selection

Solution.py refelcts stability selection method
other methods archive contains the .py of other methods